.product {
    display: flex;
    flex-direction: column;
    padding: 5%
}

/*item and infos*/
.product-image-and-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: auto;
}

.product-image {
    max-width: 40%;
}

.product-infos {
    width: 60%;
}

/*buying*/
.product-price-quantity-count {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    text-align: center;
}

.button-add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-add-to-cart > Button {
    margin: auto;
}

/*review*/
.product-single-review {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.review-username {
    width: 20%;
}

.review-content {
    width: 80%;
}